<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <strong>@Model.Application.Name</strong> is requesting permission to do the following:

    <div>
        <h2>@Model.Application.Name</h2>
        @Model.Application.Description
    </div>

    <em>(This view was rendered at @Model.GeneratedAt)</em>

    <form method="POST" action="/oauth/allow">
        <input type="submit" value="Allow" />
    </form>

    <form method="POST" action="/oauth/deny">
        <input type="submit" value="Don't Allow" />
    </form>
</body>
</html>
